* {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    background-color: var(--background-color);
    background-image:
        radial-gradient(circle at center 62%,
                rgba(var(--background-color-rgb), 0.9) 0%,
                rgba(var(--background-color-rgb), 0.8) 2%,
                transparent 4%,
                rgba(var(--background-color-rgb), 0.5) 5%,
                rgba(var(--background-color-rgb), 1.0) 6%),
        radial-gradient(circle at calc(46.6%) calc(52.1%),
                var(--bubble-color-1) 2.5%,
                transparent 7%),
        radial-gradient(circle at calc(53.4%) calc(52.1%),
                var(--bubble-color-2) 2.5%,
                transparent 7%),
        radial-gradient(circle at calc(50%) calc(72%),
                var(--bubble-color-3) 0%,
                transparent 7%);
    background-size: 100vh;
    background-position: 50% 50%;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.round-button {
    position: absolute;
    top: 3vh;
    font-size: 3.3vh;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    background-color: var(--button-background-color);
    width: 7vh;
    height: 7vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.round-button:hover {
    background-color: var(--button-background-color-hover);
}
#scm-button {
    left: 11.5vh;
}
#mate-button {
    left: 3vh;
}
#finish-button {
    right: 3vh;
    cursor: pointer;
}
.android #finish-button {
    background-color: var(--button-background-color-alt);
}
.android  #finish-button:hover {
    background-color: var(--button-background-color-alt-hover);
}

h1, h2, p {
    margin: 0;
}
#round, #phase, #instruction, #clock, #counter, #hint, #info {
    text-align: center;
    width: 38vh;
}
#round {
    font-size: 6vh;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-color-3);
    margin-top: 12vh;
    margin-bottom: 4vh;
    border-bottom: 0.1vh solid #666;
}
#phase, #instruction, #hint {
    font-size: 3.5vh;
    color: var(--text-color-2);
}
#phase {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1vh;
}
#instruction, #hint {
    width: 29vh;
}
#instruction {
    height: 19.2vh;
}
#counter, #clock {
    font-size: 14vh;
    font-weight: bold;
    margin-top: 3vh;
    position: absolute;
    top: 49%;
}
#counter {
    color: var(--text-color);
}
#clock {
    color: var(--clock-text-clock);
    text-shadow:
            var(--text-outline-color) 0 0 5px,
            var(--text-outline-color) 0 0 5px,
            var(--text-outline-color) 0 0 5px,
            var(--text-outline-color) 0 0 5px,
            var(--text-outline-color) 0 0 5px,
            var(--text-outline-color) 0 0 5px;
            var(--text-stroke-color) 0 0 5px;
            var(--text-stroke-color) 0 0 5px;
}
#clock.hold-empty {
    color: var(--clock-text-color-hold);
}
#hint {
    margin-top: 5vh;
    color: var(--text-color-3);
    position: absolute;
    bottom: 12vh;
}
#info {
    font-size: 1.7vh;
    color: var(--text-color-3);
    bottom: 3vh;
    position: absolute;
    width: 100%;
}